<header>
    <nav class="navbar navbar-dark bg-dark">

        <ul class="nav nav-pills">
            <li class="nav-item">
                <p class="text-light display-5">Project Angular</p>
            </li>
            <li class="nav-item">
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/user']">Criar Usuário</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/']">Listar Usuário</a>
            </li>
        </ul>
    </nav>
</header>